:root {
    /* Primary */
    --orange: hsl(25, 97%, 53%);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    background-color: var(--very-dark-blue);
    min-height: 100vh;
    color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    /* background: linear-gradient(var(--dark-blue), hsl(213, 33%, 11%) 95%); */
    background: radial-gradient(90% 50% at 50% 0%, var(--dark-blue), hsl(213, 33%, 11%));
    padding: 2rem;
    width: 25rem;
    border-radius: 24px;
}

.star-container {
    border-radius: 50%;
    background-color: var(--dark-blue);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-state {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.rating-prompt > h1 {
    color: var(--white);
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 0.7rem;
}

.rating-prompt > p {
    font-size: 0.8rem;
    line-height: 1.3rem;
}

.rating-numbers {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.rating {
    background-color: var(--dark-blue);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating:hover {
    background-color: var(--orange);
    color: var(--white);
}

.rating.active {
    background-color: var(--light-grey);
    color: var(--white);
}

.rating-state > button {
    background-color: var(--orange);
    color: var(--white);
    border: none;
    border-radius: 24px;
    padding: 1rem;
}

.rating-state > button:hover {
    background-color: var(--white);
    color: var(--orange);
}

.thank-state {
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.selected-rating {
    color: var(--orange);
    background-color: var(--dark-blue);
    padding: 0.4rem 1rem;
    border-radius: 24px;
    width:fit-content;
}

.thank {
    font-size: 1.8rem;
    color: var(--white);
    padding-bottom: 1rem;
}